html {
  height: 100%;
  margin: 0; /* Убираем стандартные отступы */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  display: flex;
  flex-direction: column;
  box-shadow: 16px 0px 52px 0px #0e185033;
  width: 320px;
  height: 100%;
}

@font-face {
  font-family: "TTLakes-Bold";
  src: url("fonts/TTLakes-Bold.woff") format("woff");
}
@font-face {
  font-family: "TTLakes-regular";
  src: url("fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
  font-family: "TTLakes-DemiBold";
  src: url("fonts/TTLakes-DemiBold.woff") format("woff");
}

@font-face {
  font-family: "TTLakes-Condensed-DemiBold";
  src: url("fonts/TTLakesCondensed-DemiBold.woff") format("woff");
}

button {
  padding: 0;
  background: none;
  border: none;
}

.header {
  display: flex;
}

.header-container__button-burger {
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-top: 23px;
}

.header__logo {
  margin: 0;
  padding: 0;
  margin-left: 16.73px;
  margin-top: 18.73px;
}

.header-container__button-search {
  margin: 0;
  padding: 0;
  margin-left: 78.27px;
  margin-top: 23px;
}

.contacts-buttons,
.nav__list,
.lang {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-item {
  font-family: "TTLakes-Condensed-DemiBold";
  font-size: 16px;
  color: #1b1c21;
  transition: opacity 0.3s ease;
  margin-left: 24px;
  position: relative;
}

.nav-item:hover {
  opacity: 0.6;
}

.nav-item:focus::before {
  content: url(images/highlight.svg);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  left: -24px;
}

li {
  margin-bottom: 32px;
}

.nav__list {
  margin-bottom: auto;
  margin-top: 46.27px;
}

.wrapper-footer {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 24px;
  gap: 14px;
  flex-direction: column;
}

.address__mail {
  font-family: "TTLakes-DemiBold";
  font-size: 16px;
}

.address__number {
  font-family: "TTLakes-DemiBold";
  font-size: 24px;
  white-space: nowrap;
}

.contacts-buttons {
  display: flex;
  height: 40px;
  gap: 16px;
}

.address__number {
  font-family: "TTLakes-Bold";
  font-size: 24px;
}

.lang__button {
  font-family: "TTLakes-Condensed-DemiBold";
  font-size: 16px;
}

.lang {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  display: flex;
  gap: 7px;
  transition: opacity 0.3s ease;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.lang__button:hover,
.address__mail:hover,
.address__number:hover,
.contacts-button__call:hover,
.contacts-button__chat:hover,
.contacts-button__profile:hover,
.header-container__button-burgerhover,
.header-container__button-search:hover {
  opacity: 0.6;
}
